In [1]:
import pandas

In [2]:
df = pandas.read_excel('s3://isat252-luker/house_price.xls')
df[:10]

     price  bathroom           house_type  lot_size  built_in  area
0   159900         1   single-family home      5662      1924  1584
1  1100000         1   single-family home   4138200      1932   900
2   182000         2                condo      7405      1945  1622
3   169900         1   single-family home     36155      1950  1556
4   148500         1   single-family home      9147      1959  1000
5   444900         6   single-family home     28314      1961  5201
6   178000         2   single-family home     11326      1964  1188
7   209000         2   single-family home      9147      1966  1918
8   349900         2   single-family home    204732      1967  3850
9  1100000         2   single-family home   4356000      1970  2541

## 2.1

In [3]:
df['unit_price']=df['price']/df['area']
df[:10]

,price,bathroom,house_type,lot_size,built_in,area,unit_price
0,159900,1,single-family home,5662,1924,1584,100.946970
1,1100000,1,single-family home,4138200,1932,900,1222.222222
2,182000,2,condo,7405,1945,1622,112.207152
3,169900,1,single-family home,36155,1950,1556,109.190231
4,148500,1,single-family home,9147,1959,1000,148.500000
5,444900,6,single-family home,28314,1961,5201,85.541242
6,178000,2,single-family home,11326,1964,1188,149.831650
7,209000,2,single-family home,9147,1966,1918,108.967675
8,349900,2,single-family home,204732,1967,3850,90.883117
9,1100000,2,single-family home,4356000,1970,2541,432.900433

## 2.2

In [4]:
df['house_type'].value_counts()

 single-family home    26
 condo                  2
 townhouse              2
Name: house_type, dtype: int64

## 2.3

In [12]:
prc_more_2_bath = df.loc[df['bathroom']>=2]['price']


print('The average price of 2 bathrooms is ${}'.format(prc_more_2_bath.mean()))

The average price of 2 bathrooms is $350873.07692307694

## 2.4

In [15]:
print('mean unit price is ${}'.format(df['unit_price'].mean()))


print('median unit price is ${}'.format(df['unit_price'].median()))

mean unit price is $170.15620173629137
median unit price is $125.33144542647584

## 2.5

In [20]:
df.groupby('house_type').mean()['price']

house_type
 condo                 164450.000000
 single-family home    387973.076923
 townhouse             142400.000000
Name: price, dtype: float64

## 2.6

In [21]:
from scipy import stats

In [22]:
result = stats.linregress(df['area'],df['price'])

In [23]:
print('slope is {}'.format(result.slope))
print('intercept is {}'.format(result.intercept))
print('r square is {}'.format(result.rvalue * result.rvalue))
print('p value is {}'.format(result.pvalue))

slope is 74.37646603912873
intercept is 171081.13292168107
r square is 0.1660981507478648
p value is 0.025387094399552994

## 2.7

In [ ]:
print('p of {} w is ${}'.format(0.9,0.9*result.slope + result.intercept))